@model cloudscribe.Pagination.Models.PagedResult<Products>
@{
    ViewData["Title"] = "Home Page";
}


@{

    async Task Template(ICollection<Categories>
    categories)
    {
        <ul class="tree">
            @foreach (var item in categories)
            {
                @if (item.ProductCategories != null && item.ProductCategories.Count > 0)
                {
                    <li>
                        <span><a asp-controller="categories" asp-action="details" asp-route-id="@item.Id">@item.Title</a></span>
                        @if (item.Children.Count() > 0)
                        {
                            Template(item.Children);
                        }
                    </li>
                }

            }

        </ul>


    }
}

<div class="row">
    <div class="col-2">
        @{Template(ViewBag.Categories);}
    </div>
    <div class="col">
        <div class="row py-2">
            <div class="col">
                <form>
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @{ Html.RenderPartial("_ProductListPartial"); }
        </div>
        <div class="row">
            <div class="col">
                <partial name="_PaginationPartial" model="ViewBag.Products" view-data="ViewData" />
            </div>
        </div>
    </div>
</div>









@section Scripts {

    <script>
        /*var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }*/
        $(document).ready(function () {
            $('.tree ul')
                .hide()
                .prev('span')
                .before('<span></span>')
                .prev()
                .addClass('handle closed')
                .click(function () {
                    $(this)
                        .toggleClass('closed opened')
                        .nextAll('ul')
                        .toggle();
                });





        })
    </script>
}
