@model Media
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Documents Create";
}

<div class="row">
    <div class="col-lg-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label asp-for="file" class="control-label"></label>
                <input asp-for="file" class="form-control" type="file" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Published" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Published)</label>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-check">
                <input asp-for="Deleted" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">@Html.DisplayNameFor(model => model.Deleted)</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-primary float-right" type="submit" value="Save" />
            <input class="btn btn-primary float-right" type="submit" name="continue" value="Save and continue editing" />
            <a class="btn btn-light" asp-action="Index">Back</a>
        </div>
    </div>
</form>