@model Media
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CmsLayout";
    ViewData["Title"] = "Media Delete";
}

<div class="row">
    <div class="col">
        Delete   @Html.DisplayFor(model => model.MediaPath) ?
    </div>
</div>

<div class="row">
    <div class="col">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-light" asp-action="Index">Back</a>
        </form>
    </div>
</div>